/*
#ff71ce pink
#01cdfe blue
#05ffa1 green
#b967ff purple
#fffb96 yellow
*/

body {
	font-family: sans-serif;
	font-size: 16px;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}

main {
	margin-left: 8rem;
	margin-top: 4rem;
}

#side-nav {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
  width: 8rem;
  background-image: linear-gradient(to right, #006064, #00838f);
}

#side-nav .menu {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	font-weight: bold;
}

#side-nav .menu li {
	margin: 2rem 0;
}

#side-nav .menu a,
#side-nav .menu a:focus,
#side-nav .menu a:active {
	color: #fff;
	opacity: 0.8;
}

#side-nav .menu a:hover {
	opacity: initial;
}

#top-nav {
	display: none;
}

#content {
	max-width: 80%;
	margin: 0 auto;
}
